@import "tailwindcss";

@import "preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

@font-face {
  font-family: 'AwesomeSerif';
  src: url('@/assets/fonts/AwesomeSerif-BoldRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.serif {
  font-family: 'AwesomeSerif', serif;
}